In [1]:
import numpy as np
import pandas as pd

In [4]:
dataFrame = pd.read_excel("maas.xlsx")

In [5]:
dataFrame

  Unnamed: 0  Maas  Yas  Departman
0       Atıl   100   34    Yazılım
1     Mehmet  2323   54      Satış
2      Ahmet  4345   24        NaN
3     Zeynep   564   12  Pzaralama
4      Atlas  7678   34     Finasn
5       Maze  4546   23       Hkuk

In [7]:
doluDegerler =dataFrame.dropna() #boslar atıldııxdd

In [8]:
doluDegerler

  Unnamed: 0  Maas  Yas  Departman
0       Atıl   100   34    Yazılım
1     Mehmet  2323   54      Satış
3     Zeynep   564   12  Pzaralama
4      Atlas  7678   34     Finasn
5       Maze  4546   23       Hkuk

In [11]:
doluDegerler.to_excel("yenimaas.xlsx")